body {
    margin: 0px;
    background-color: black;
    color: white;
}
a{
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    
}
img{
    padding-top: 0px;
    
}
main {
    margin:0px;
    padding:0px;
}

.bottom {
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 5px black;
    height: 400px;
    width: 400px;
}

.mainimage
{
height: 391px;

}

.rtext
{
    font-style: italic;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 10px;
}

.reviewrow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: black;
    margin-bottom: 50px;

}
.rtitle{
    color: white;
    margin-bottom: -20px;
    font-size: 300%;
    
}
.review
{
    background-color: white;
    box-shadow: 10px 10px 5px black;
    height: 200px;
    width: 400px;
    margin-top: 50px;
}


nav{
    font-size: 150%;
    font-family: monospace;
    margin-top: -10px;
    display: flex;
    justify-content: space-between;
    background: rgba(0,0,0,0.5);
}
.rightnavigation{
    
    display: flex;
    line-height: 130px;
}
.leftnavigation
{
    display: flex;

}
.nav-links{
    display:flex;
    flex-direction: row;
}
.centerlinks{

  display:flex;
  flex-direction: row;
  align-content: center;
  flex-wrap:wrap;
}



body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
   
    background-image: url("Staage.png");
  
  
    filter: blur(8px);
    -webkit-filter: blur(8px);
  

    height: 100%;
  

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .blurred{
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }
  .blurred:hover{
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }
  .bg-image {
   
    background-image: url("kleur.png");
  
  
    filter: blur(8px);
    -webkit-filter: blur(8px);
  

    height: 100%;
  

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .blurred{
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }

  .blurred:hover{
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }

.fotolayout
{
    display:flex;
    flex-direction: row;
    align-items: center;
  justify-content: space-around;
}
.language-switcher {
    margin: 10px;
  }
  
  .language-switcher button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f0f0f0
  }
  body {
    background-color: black;
}

.images {
    display: flex;
    width: calc(100vw - 21px);
    flex-direction: row;
    justify-content: center;
    align-content: center;
}


.colom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

 HEAD

 body{
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  display:flex;
flex-direction: column;
height: 100vh;
}
main{
  background-size: cover;
  flex-grow: 1;
  
}


.DonatieMain{
  background-image: url("/img/kleur.png");
  color: black;
  height: 1000px;
}

.socialsMain{
  background-image: url("/img/Staage.png");
  color: white;
  font-size: 75px;
  height: 1000px;
  
}

.TijdenMain{
  background-image: url("/img/page.png");
  color: white;
  height: 1000px;
}
.OnsMain{
  background-image: url("/img/stage.png");
  color: white;
  height: 1000px;
}
.OnsMain span{

 font-style: sans-serif;
font-size: 100px;
}

.OnsMain p{
font-size:40px;
}
footer{
  height: 500px;
  width: 100%;
  background-color: black;
  display: flex;
}

.row {
  margin: 0 0px;
  width: 20%;
  height: 500px;
  font-size: 22px;
  background-color: #000000;
  padding: 20px;
  border: 1px solid #ffffff;
}

a.social {
  padding: 0 0 0 40px;
  text-decoration: none;
  position: relative;
}

a.social.instagram_url:before {
  background: url(../img/instagram.svg) no-repeat center;
  background-size: 100%;
}

a.social.youtube_url:before {
  background: url(../img/youtube.svg) no-repeat center;
  background-size: 100%;
}

a.social.tiktok_url:before {
  background: url(../img/tiktok.svg) no-repeat center;
  background-size: 100%;
}

a.social.twitter_url:before {
  background: url(../img/twitter.svg) no-repeat center;
  background-size: 100%;
}

a.social:before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 24px;
  height: 24px;
  content: '';
  transform: translate(0, -50%);
}

