body {

    background-color: black;
    color: white;
}
a{
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    
}
img{
    padding-top: 0px;
    
}
main section
{
    height: 80vh;
}

.reviews{
    background-color: gray;
}

.reviewrow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.review
{
    background-color: aliceblue;
    height: 200px;
    width: 400px;
    margin-top: 50px;
}

nav{
    font-size: 150%;
    font-family: monospace;
    margin-top: -10px;
    display: flex;
    justify-content: space-between;
    background: rgba(0,0,0,0.5);
}
.rightnavigation{
    
    display: flex;
    line-height: 130px;
}
.leftnavigation
{
    display: flex;

}
.nav-links{
    padding-top: 53px;
}


